name: Deploy documentation to Pages

on:
  push:
    branches: ["main"]
    paths: ["docs/**"]

  workflow_dispatch:

jobs:
  deploy:
    permissions:
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.x

      - name: Install mkdocs-material
        run: pip install mkdocs-material

      - name: Build documentation
        run: cd docs/ && mkdocs build

      - name: Upload static files as artifact
        id: upload
        uses: actions/upload-pages-artifact@v4
        with:
          path: docs/site/

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4